.minhaConta {
    margin-top: 40px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    font-family: soleil, sans-serif;
    font-weight: 700;   
    font-style: normal;
    color: white;
 

}
#contaLabel{
    margin-left: 24px;
    padding-bottom: 10px;

}
#contaLogo {
    position: absolute;
    top: 14px;
    left: 220px;
    width: 12px;
    height: 7px;
}

#contaLogo2 {
    position: absolute;
    top: 14px;
    left: 220px;
    width: 12px;
    height: 7px;
}


.item {
    display: flex;
    margin-top: 15px;
    align-items: center;
    color: rgb(231, 226, 226);
    padding-top: 30px;

}

.itemLogo {
    padding-left: 24px;
    margin-top: 5px;
}

.itemLabel {
   
    padding-top: 4px;
    position: absolute;
    left: 80px;
    padding-bottom: 1px;
    font-size: 16px;
    font-family: soleil, sans-serif;
    font-weight: 100;
    font-style: normal;
    

}

