

.servicosBancarios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 381px;
    position: relative;
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
    font: soleil;

}

.item {
    margin-top: 20px;
}

#itemLogo {
    padding-left: 24px;
}

.itemLabel {
    position: relative;
    left: 39px;
}


.marcador {
    position: absolute;
    display: none;
}

.div1 {
    width: 256px;
    color: white;
}


#labelServ {
    margin-left: 24px;
    
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
#servLogo{
    position: absolute;
    top: 8px;
    left: 220px;
    width: 12px;
    height: 7px;
}
#servLogo2{
    position: absolute;
    top: 8px;
    left: 220px;
    width: 7px;
    height: 12px;
}
