

.servicosBancarios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 381px;
    position: relative;
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
    font: soleil;

}


.marcador {
    position: absolute;
    display: none;
}

.div1 {
    width: 256px;
    color: white;
}

#depositarLogo {
    padding-left: 24px;
}

.depositarLabel {
    position: relative;
    left: 39px;
}

.cobrar {
    margin-top: 20px;
}

#cobrarLogo {
    padding-left: 24px;
}

.cobrarLabel {
    position: relative;
    left: 39px;
}

.realizarPix {
    margin-top: 20px;
}

#pixLogo {
    padding-left: 24px;
}

.pixLabel {
    position: relative;
    left: 39px;
}

.pagarContas {
    margin-top: 20px;
}

#pagarLogo {
    padding-left: 24px;
}

.pagarLabel {
    position: relative;
    left: 39px;
}


.transferir {
    margin-top: 20px;

}

#transferirLogo {
    padding-left: 24px;
    margin-top: 5px;
}

.transferirLabel {
    position: relative;
    left: 39px;
}

#labelServ {
    margin-left: 24px;
    
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
#servLogo{
    position: absolute;
    top: 8px;
    left: 220px;
    width: 12px;
    height: 7px;
}
#servLogo2{
    position: absolute;
    top: 8px;
    left: 220px;
    width: 7px;
    height: 12px;
}
