.cards {
    width: 100%;
    height: 192px;
    background-color: #0E1833;
    display: flex;
    align-items: center;
    padding-left: 32px;
    color: white;
    font-family: soleil, sans-serif;
}

.card {

    position: relative;
    width: 280px;
    height: 128px;
    border-radius: 8px;
    margin-right: 32px;
}

.labelCards {
    position: relative;
    top: 8px;
    margin-left: 16px;
}

.marcadorCards {
    position: relative;
    top: 10px;
    opacity: 0.5;
}

.valorCards {
    position: relative;
    top: 70px;
    left: 16px;
    font-size: 32px;
    font-family: soleil, sans-serif;
    font-weight: bold;
}

#info {

    position: relative;
    width: 280px;
    height: 128px;
    border-radius: 8px;
    margin-right: 32px;  
    box-sizing: border-box;
    color: #dddddd;
    line-height: 20px;
    padding-left:  16px;
    padding-top: 14px;
    
}